body {
    footer {
        // This is nested
        display: flex;
        justify-content: center;
        background-color: $footerBackgroundColor;
        height: 45px;
        padding-top: 1em;
        font-size: .72em;
    }
}