// This is variables
$font: 'Spartan';
$fontColorTxt: #0C1452;
$fontColorTitle: #1A136C;
$navbarLinkActiveColor: blue;
$navbarLinkHoverColor: darkblue;
$navbarLinkVisitedColor: purple;
$footerBackgroundColor: #D8E4FF;
